<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addbusdetails</servlet-name>
        <servlet-class>addbusdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adddet</servlet-name>
        <servlet-class>adddet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletebusdetails</servlet-name>
        <servlet-class>deletebusdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showbusdetails</servlet-name>
        <servlet-class>out.showbusdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showbusdetail</servlet-name>
        <servlet-class>showbusdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showbus</servlet-name>
        <servlet-class>showbus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editbusdetails</servlet-name>
        <servlet-class>editbusdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showbookingdetails</servlet-name>
        <servlet-class>showbookingdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regServ1</servlet-name>
        <servlet-class>regServ1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogin</servlet-name>
        <servlet-class>userlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkavail</servlet-name>
        <servlet-class>checkavail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>payment</servlet-name>
        <servlet-class>payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutsession</servlet-name>
        <servlet-class>logoutsession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addbusdetails</servlet-name>
        <url-pattern>/addbusdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adddet</servlet-name>
        <url-pattern>/adddet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletebusdetails</servlet-name>
        <url-pattern>/deletebusdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showbusdetails</servlet-name>
        <url-pattern>/showbusdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showbusdetail</servlet-name>
        <url-pattern>/showbusdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showbus</servlet-name>
        <url-pattern>/showbus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editbusdetails</servlet-name>
        <url-pattern>/editbusdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showbookingdetails</servlet-name>
        <url-pattern>/showbookingdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regServ1</servlet-name>
        <url-pattern>/regServ1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogin</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkavail</servlet-name>
        <url-pattern>/checkavail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutsession</servlet-name>
        <url-pattern>/logoutsession</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
